
.insertMsg {
    background-color: $primary;
    padding: 50px;
    width: 50%;
    align-items: right;
    position: absolute;
    bottom: 0px;
    right: 50px;
    box-shadow: 10px 10px $secondary;
}

input,
textarea {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: $primaryFont;
    padding: 5px;
}

input {
    margin-right: 10px;
    margin-bottom: 30px;
    width: 40%;
}

textarea {
    width: 100%;
    border: 1px solid #fff;
}