// site fonts
$primaryFont: "Rubik";
$secondaryFont: "Six Caps";

$baseFontSize: 1rem;

// site colors
$primary: #046271;
$secondary: #0EA8B9;
$tertiary: #D5C4B8;
$quaternary: #73CADA;
$quinary: #6A6352;