.about {
    background-color: $quaternary;
    color: $quinary;
    margin-top: 50px;
    padding: 30px;
    border-radius: 6px 6px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery, .aboutInfo {
    width: 47%;
}

.aboutInfo {
    h2 {
        margin: 15px 0;
        letter-spacing: 0.2rem;
        font-size: 2.8rem;
        font-family: $tertiaryFont;
        text-shadow: 2px 2px #Edcbd2;
    }
}
.gallery {
    img {
        border-radius: 6px 6px;
        height: 85%;
        width: 85%;
    }
}

.aboutButton {
    margin-top: 20px;
    a {
        color: $quinary;

        &:hover,
        &:focus {
            color: $quaternary;
        }

    }
}