.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $secondary;
}

.selectionDropDown {
    margin-top: 50px;
  
    label, select {
        background-color: $quaternary;
        border-radius: 6px 6px;
        padding: 5px 5px;
        
    }
}

#placeList {
    height: 600px;
    background-color: white;

    margin-top: 50px;
    padding: 30px;
    border-radius: 6px 6px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}