.navBar {
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            padding-right: 30px;
        }
    }
}




#hamburger, .slideOutNav {
    display: none;
}

