.navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            padding: 10px 0 0 30px;
            text-transform: uppercase;
            letter-spacing: 0.1rem;

            a {
                &:hover {
                    color: $quaternary;
                    transition: 0.3s;
                }
            }
        }
    }
}




#hamburger, .slideOutNav {
    display: none;
}



// logo

.logo {
    p {
        font-family: $secondaryFont;
        font-size: 40px;
        letter-spacing: 0.6rem;

        a {
            color: $quaternary;
        }
    }
}

.slideOutNav {
    ul {
        li {
            a {
                color: $quinary;
                
                &:hover {
                        color: $quaternary;
                        transition: 0.3s;
                    }
            }
        }
    }
}

#hamburger {
    font-size: 1rem;
    i {
        color: $secondary;

        &:hover,
        &:focus {
            color: $quaternary;
            transition: 0.3s;
        }
    }
}
#close {
    border:none;

    &:hover,
    &:focus {
        background-color: transparent;
        color: $quaternary;
    }

}