html {
    font-size: 125%;
    background-color: $quinary;
}

body {
    font-family: $primaryFont;
    font-size: $baseFontSize;
    color: $quaternary;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

footer {
    
    font-size: 12px;
    color: $quaternary;
}

.selectionDropDown {
    label, select {
        font-family: $primaryFont;
        font-size: $baseFontSize;
        color: $quinary;
    }
}

.text-muted,
.text-muted i {
    color: $secondaryFont;
}

.buttonHolder {
    .submitQ {
        font-family: $primaryFont;
    }
}

.placeList {
    .newPlaceName{
        font-family: $primaryFont;
    }
}