// site fonts
$primaryFont: "Rubik", sans-serif;
$secondaryFont: "Six Caps", sans-serif; 
$tertiaryFont: "Sacramento", cursive;
// secondaryfont to be decided

$baseFontSize: 1rem;

// site colors
$primary: #6C3622;
// $secondary: #CF9032;
$secondary:  #80c4b7;
// $tertiary: #CD7E2A;
$tertiary: #eec95c;
// $quaternary: #6FA1BB;
$quaternary: #e3856b;
$quinary: #FFFFFF;