// site fonts
$primaryFont: "Rubik", sans-serif;
$secondaryFont: "Six Caps", sans-serif; 
// secondaryfont to be decided

$baseFontSize: 1rem;

// site colors
$primary: #6C3622;
$secondary: #CF9032;
$tertiary: #CD7E2A;
$quaternary: #6FA1BB;
$quinary: #FFFFFF;