@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Sacramento&family=Six+Caps&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  background-color: #FFFFFF;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  color: #e3856b;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

footer {
  font-size: 12px;
  color: #e3856b;
}

.selectionDropDown label, .selectionDropDown select {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #80c4b7;
}

.selectionDropDown {
  margin-top: 50px;
}
.selectionDropDown label, .selectionDropDown select {
  background-color: #e3856b;
  border-radius: 6px 6px;
  padding: 5px 5px;
}

.main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #e3856b;
  margin-top: 50px;
  padding: 30px;
  border-radius: 6px 6px;
  display: flex;
  justify-content: space-between;
}

#placeList {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#photoDisplay {
  width: 48%;
}
#photoDisplay img {
  width: 100%;
}

.newPlaceName {
  color: #FFFFFF;
}

.contact {
  background-color: #e3856b;
  color: #FFFFFF;
  margin-top: 50px;
  padding: 30px;
  border-radius: 6px 6px;
}

.contactFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactHead h2 {
  margin: 15px 0;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-family: "Sacramento", cursive;
  text-shadow: 2px 2px #Edcbd2;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Rubik", sans-serif;
  padding: 5px;
}

input {
  margin-right: 10px;
  margin-bottom: 30px;
  width: 40%;
}

textarea {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px 3px;
}

::-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 15px;
}

:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 15px;
}

::placeholder {
  color: #FFFFFF;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 15px;
}

button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 3px 3px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 0.8rem;
}
button:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #e3856b;
  transition: 0.4s;
}

.contactMessage {
  width: 52%;
}

.contactInfo {
  font-size: 0.8rem;
  width: 26%;
}

.socialMedia {
  display: flex;
  padding-bottom: 15px;
}
.socialMedia li {
  padding-right: 15px;
}
.socialMedia li a {
  color: #FFFFFF;
}
.socialMedia li a:hover, .socialMedia li a:focus {
  transition: 0.3s;
  color: #80c4b7;
}

.contactIcon {
  width: 20%;
  padding: 0 30px;
}
.contactIcon img {
  width: 100%;
}

.about {
  background-color: #e3856b;
  color: #FFFFFF;
  margin-top: 50px;
  padding: 30px;
  border-radius: 6px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery, .aboutInfo {
  width: 47%;
}

.aboutInfo h2 {
  margin: 15px 0;
  letter-spacing: 0.2rem;
  font-size: 2.8rem;
  font-family: "Sacramento", cursive;
  text-shadow: 2px 2px #Edcbd2;
}

.gallery img {
  border-radius: 6px 6px;
  height: 85%;
  width: 85%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.navBar ul {
  display: flex;
  justify-content: space-between;
}
.navBar ul li {
  padding: 10px 0 0 30px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.navBar ul li a:hover {
  color: #e3856b;
  transition: 0.3s;
}

#hamburger, .slideOutNav {
  display: none;
}

.logo p {
  font-family: "Six Caps", sans-serif;
  font-size: 40px;
  letter-spacing: 0.6rem;
}
.logo p a {
  color: #e3856b;
}

.slideOutNav ul li a {
  color: #FFFFFF;
}
.slideOutNav ul li a:hover {
  color: #e3856b;
  transition: 0.3s;
}

#hamburger {
  font-size: 1rem;
}
#hamburger i {
  color: #80c4b7;
}
#hamburger i:hover, #hamburger i:focus {
  color: #e3856b;
  transition: 0.3s;
}

#close {
  border: none;
}
#close:hover, #close:focus {
  background-color: transparent;
  color: #e3856b;
}

#cityNames {
  cursor: pointer;
}

footer {
  margin: 20px 0;
  padding: 5px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
  bottom: 0;
}

.modal {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
  z-index: 100000;
  width: 50%;
  height: 30%;
  text-align: center;
  border: 3px solid #eec95c;
  border-radius: 10px 10px;
  background-color: rgba(238, 201, 92, 0.85);
  color: #FFFFFF;
}
.modal input {
  color: #6C3622;
  font-size: 14px;
}
.modal input ::-moz-placeholder {
  color: #80c4b7;
  opacity: 0.8;
}
.modal input :-ms-input-placeholder {
  color: #80c4b7;
  opacity: 0.8;
}
.modal input ::placeholder {
  color: #80c4b7;
  opacity: 0.8;
}
.modal button:hover, .modal button:focus {
  font-weight: bold;
  background-color: #FFFFFF;
  color: #e3856b;
}

.modalTop {
  border-radius: 7px 7px 3px 3px;
  background-color: #FFFFFF;
  color: #e3856b;
  text-align: center;
  margin-bottom: 55px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.modalTop h3 {
  font-family: "Six Caps", sans-serif;
  letter-spacing: 0.5rem;
}
.modalTop span {
  cursor: pointer;
  padding-top: 2px;
}

.modalScore,
.modalEndQuestion {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
  z-index: 100000;
  width: 65%;
  height: 35%;
  text-align: center;
  border: 3px solid #eec95c;
  border-radius: 10px 10px;
  background-color: rgba(238, 201, 92, 0.85);
  color: #FFFFFF;
}
.modalScore input,
.modalEndQuestion input {
  color: #6C3622;
  font-size: 14px;
}
.modalScore input ::-moz-placeholder, .modalEndQuestion input ::-moz-placeholder {
  color: #80c4b7;
  opacity: 0.8;
}
.modalScore input :-ms-input-placeholder, .modalEndQuestion input :-ms-input-placeholder {
  color: #80c4b7;
  opacity: 0.8;
}
.modalScore input ::placeholder,
.modalEndQuestion input ::placeholder {
  color: #80c4b7;
  opacity: 0.8;
}
.modalScore button:hover, .modalScore button:focus,
.modalEndQuestion button:hover,
.modalEndQuestion button:focus {
  font-weight: bold;
  background-color: #FFFFFF;
  color: #e3856b;
}

.modalEndQuestion {
  display: none;
}

.modalScore {
  display: none;
}

@media (max-width: 1000px) {
  .navBar ul {
    display: none;
  }
  #hamburger {
    display: flex;
    color: #6C3622;
  }
  .slideOutNav {
    display: flex;
    background-color: #80c4b7;
    color: #6C3622;
    min-height: 100vh;
    position: fixed;
    top: 0;
    padding: 30px 50px;
    width: 100%;
    max-width: 450px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    right: -450px;
    transition: 0.3s;
  }
  .slideOutNav.open {
    right: 0;
  }
  .slideOutNav button {
    align-self: flex-end;
  }
  .slideOutNav a {
    line-height: 2.2rem;
  }
  .slideOutNav a:hover, .slideOutNav a:focus {
    color: rgba(108, 54, 34, 0.6);
  }
}
@media (max-width: 1100px) {
  .contactFlex {
    flex-direction: column;
    text-align: center;
  }
  .contactIcon {
    display: none;
  }
  .contactHead {
    text-align: center;
  }
  .socialMedia {
    justify-content: center;
    padding-top: 30px;
  }
  .socialMedia :last-child {
    padding-right: 0;
  }
}/*# sourceMappingURL=styles.css.map */